body, html{
    background-color: #f4f4f4;
    margin: 0;
    height: 100%;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    line-height: 1.8em;
    color: #666;
}


.pimg1{
    background-image: url(../images/img1.jpg);
    height: 100%;
}

.pimg2{
    background-image: url(../images/img3.jpg);
    height: 400px;
}

.pimg3 {
    background-image: url(../images/img2.jpg);
    height: 400px;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ptext {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    
   
}

.ptext .border{
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: #666;
    padding: 20px;
    background-color: #111;
}

.ptext .trans {
    background-color: transparent;
    color: #fff;
}

.section {
    text-align: center;
    padding: 50px 80px;
}
.bg-light {
   
    background-color: #f4f4f4;
    color: #666;
}

.bg-dark {
    background-color: #111;
    color: #fff;
}


@media (max-width:658px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}